.u-section-1 {
  background-image: url("images/bg2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 796px;
}

.u-section-1 .u-text-1 {
  font-size: 7.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: abril-fatface;
  margin: 290px 290px 0 289px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 300;
  margin: -34px 289px 0 290px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 1px 290px 60px 289px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-text-1 {
    width: 561px;
    margin-top: 214px;
    margin-left: 190px;
    margin-right: 190px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6.25rem;
    width: 561px;
    margin-top: -33px;
    margin-left: 190px;
    margin-right: 190px;
  }

  .u-section-1 .u-text-3 {
    width: 561px;
    font-size: 1.25rem;
    margin-top: 0;
    margin-left: 190px;
    margin-right: 190px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 6rem;
    margin-top: 60px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 0;
    margin-left: 80px;
    margin-right: 80px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
  }
}.u-section-2 {
  min-height: 638px;
  background-image: none;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 3px 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 638px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  margin: 111px 0 0 296px;
}

.u-section-2 .u-text-2 {
  font-weight: 900;
  font-size: 9.375rem;
  line-height: 0.8;
  text-transform: uppercase;
  margin: 20px 0 0 265px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 0px;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 0 355px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 20px 0 0 auto;
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 638px;
  background-image: url("images/11.png");
  background-position: 0% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-text-1 {
    margin-left: 196px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 215px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 255px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 420px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 86px;
  }

  .u-section-2 .u-text-2 {
    font-size: 6rem;
    margin-left: 105px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 145px;
  }

  .u-section-2 .u-image-1 {
    min-height: 529px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1169px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 794px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 921px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 365px);
    margin-top: 35px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 500px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 589px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 489px;
}

.u-section-3 .u-container-layout-1 {
  padding: 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  font-size: 9.375rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 33px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 32px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 489px;
}

.u-section-3 .u-container-layout-2 {
  padding: 60px;
}

.u-section-3 .u-text-4 {
  font-weight: 900;
  font-size: 9.375rem;
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 33px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 32px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 403px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 403px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-3 .u-text-4 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }
}.u-section-4 {
  background-image: url("images/pexelsphoto218863.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 558px;
}

.u-section-4 .u-text-1 {
  font-weight: 300;
  line-height: 1.2;
  margin: 268px 512px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-right: 312px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    background-position: 50% 94.52%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 92px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    background-position: 0% 100%;
    background-size: 175%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    background-size: auto 205%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 166px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 324px;
}

.u-section-5 .u-text-1 {
  width: 670px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 3rem;
  font-weight: 900;
  margin: 60px auto 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 37px;
  min-height: 16px;
  width: 265px;
  min-width: 160px;
  margin: 23px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

.u-section-5 .u-line-1 {
  width: 100px;
  height: 10px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 38px;
    margin-left: 38px;
  }
}.u-section-6 {
  background-image: url("images/xdz.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 706px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 916px;
  margin: 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 541px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-image-1 {
  width: 587px;
  height: 431px;
  margin: 0 auto 0 -100px;
}

.u-section-6 .u-text-1 {
  font-size: 9.375rem;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  margin: -375px -8px 89px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 541px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  margin: 180px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  border-style: none none solid;
  margin: 34px auto 0 0;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-6 .u-image-1 {
    width: 368px;
    height: 316px;
    margin-left: -40px;
    margin-right: -40px;
  }

  .u-section-6 .u-text-1 {
    font-size: 6rem;
    margin: -260px 0 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 459px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 598px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 296px;
  }

  .u-section-6 .u-image-1 {
    width: 428px;
    height: 225px;
    margin-left: -55px;
    margin-right: -55px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -197px;
    margin-bottom: 39px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 201px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 660px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 585px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 213px 0 0;
}

.u-section-7 .u-form-1 {
  height: 437px;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 585px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 24px 156px 0 0;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 30px auto 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 318px 0 0;
}

.u-section-7 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 30px auto 0 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 318px 0 0;
}

.u-section-7 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 30px auto 0 0;
}

.u-section-7 .u-text-5 {
  margin: 20px 318px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 97px;
  }

  .u-section-7 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 482px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 73px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 234px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 234px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 234px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 142px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 142px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 142px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    margin-left: auto;
  }

  .u-section-7 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    margin-left: auto;
  }

  .u-section-7 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-7 .u-text-4 {
    margin-left: auto;
  }

  .u-section-7 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-7 .u-text-5 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
  }
}